<!DOCTYPE html>
<html>
    <head>
        <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }
                
                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
                
                tr:nth-child(even) {
                    background-color: #dddddd;
                }
        </style>
    </head>
    <body>
        <table>
            <tr>
              <th>USD/ZAR</th>
              <th>Anglo</th>
              <th>Result</th>
            </tr>
            <tr>
                <th id="usd-zar">{{usd_zar}}</th>
                <th id="anglo">{{anglo}}</th>
                <th id="result">{{result}}</th>
              </tr>
        </table>
    </body>
</html>

